@import "../palette/Dracula.palette.scss";

// main web page container class
.loginMainContainer {
  width: 100%;
  height: 100vh;
  background-color: $draculaBackground;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

// left container style
.grid1 {
  background-color: white;
  background-image: url("../../public/images/login/whiteBackground.jpg");
  background-repeat: cover;
}

// right container style
.grid2 {
  background-color: $draculaBackground;
}

.loginInfoContainer {
  width: 80%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.illustration {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/login/nuwa.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.illustrationTextContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  // background-color: $draculaForeground;
}

.h1 {
  color: $draculaRed;
  padding-left: 10vw;
  font-size: 50px;
  // background-color: $draculaForeground;
}

.p {
  color: $draculaPink;
  padding-right: 10vw;
  text-align: right;
  font-size: large;
}

.breakLine {
  color: $draculaCurrent;
  text-align: center;
}

.loginH1 {
  font-size: 45px;
  font-weight: bold;
  color: #ed5a65;
  font-family: "Freight Sans";
}

.loginH3 {
  color: $draculaBackground;
  font-size: 20px;
  font-weight: bold;
}

.loginH5 {
  color: $draculaCurrent;
  font-size: 14px;
  text-align: center;
}
