@import "./palette/Dracula.palette.scss";

.loginMainContainer {
  width: 100%;
  height: 100vh;
  background-color: $draculaBackground;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid1 {
  background-color: white;
}

.grid2 {
  background-color: $draculaBackground;
}

.loginInfoContainer {
  width: 80%;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 1px $draculaCurrent solid;
  // border-radius: 1vh;
  display: flex;
  justify-content: center;
}

.illustration {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 1000px;
}

.h1 {
  color: $draculaForeground;
  padding-left: 10vw;
  font-size: 50px;
}

.p {
  color: $draculaPink;
  padding-right: 10vw;
  text-align: right;
}

.breakLine {
  color: $draculaCurrent;
  text-align: center;
}

.loginH1 {
  color: $draculaBackground;
  // padding-left: 10vw;
  font-size: 45px;
  font-weight: bold;
}

.loginH3 {
  color: $draculaBackground;
  // padding-left: 10vw;
  font-size: 20px;
  font-weight: bold;
}

.loginH5 {
  color: $draculaCurrent;
  // padding-left: 10vw;
  font-size: 14px;
  // font-weight: bold;
  text-align: center;
}
